# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py==0.9.0
aniso8601==8.0.0
astor==0.8.1
botocore==1.15.41
bottle==0.12.18
cement==2.8.2
certifi==2019.11.28
chardet==3.0.4
click==7.0
colorama==0.4.3
conan==1.24.0
cython==0.29.16
deprecation==2.0.7
distro==1.1.0
docutils==0.15.2
fasteners==0.15
flask==1.1.1=py_0
flask-restful==0.3.8
future==0.16.0
gast==0.3.3
grpcio==1.28.1
gunicorn==20.0.4
h5py==2.10.0
idna==2.7
isort==4.3.21
itsdangerous==1.1.0
jinja2==2.10.3
jmespath==0.9.5
keras==2.2.4
keras-applications==1.0.8
keras-preprocessing==1.1.0
lazy-object-proxy==1.4.3
markdown==3.2.1
markupsafe==1.1.1
mccabe==0.6.1
mock==4.0.2
monotonic==1.5
node-semver==0.6.1
numpy==1.18.2
# openssl=1.1.1d=he774522_3
packaging==20.3
patch-ng==1.17.4
pathspec==0.5.9
pillow==7.1.1
pip==19.3.1
pluginbase==0.7
protobuf==3.11.3
pygments==2.6.1
pyjwt==1.7.1
pylint==2.4.4
pyparsing==2.4.7
pystan==2.19.1.1
python==3.7.6
python-dateutil==2.8.0
pytz==2019.3
pyyaml==5.3.1
requests==2.20.1
scipy==1.4.1
semantic-version==2.5.0
setuptools==44.0.0
six==1.12.0
sqlite==3.30.1
style==1.1.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.45.0
typed-ast==1.4.1
update==0.0.1
urllib3==1.24.3
wcwidth==0.1.9
werkzeug==0.16.0
wfastcgi==3.0.0
wheel==0.33.6
wincertstore==0.2
wrapt==1.11.2
