absl-py==0.9.0
aniso8601==8.0.0
astor==0.8.1
# astroid==2.3.3
awsebcli==3.18.0
botocore==1.15.41
bottle==0.12.18
cement==2.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
conan==1.24.0
Cython==0.29.16
deprecation==2.0.7
distro==1.1.0
docutils==0.15.2
fasteners==0.15
Flask==1.1.1
Flask-RESTful==0.3.8
future==0.16.0
gast==0.3.3
grpcio==1.28.1
gunicorn==20.0.4
h5py==2.10.0
idna==2.7
# importlib==1.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.5
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.2
monotonic==1.5
node-semver==0.6.1
numpy==1.18.2
packaging==20.3
patch-ng==1.17.4
pathspec==0.5.9
Pillow==7.1.1
pluginbase==0.7
protobuf==3.11.3
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.4.4
pyparsing==2.4.7
# pypiwin32==223
pystan==2.19.1.1
python-dateutil==2.8.0
pytz==2019.3
# pywin32==227
PyYAML==5.3.1
requests==2.20.1
scipy==1.4.1
semantic-version==2.5.0
# six==1.12.0
style==1.1.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.45.0
typed-ast==1.4.1
update==0.0.1
urllib3==1.24.3
wcwidth==0.1.9
Werkzeug==0.16.0
wincertstore==0.2
wrapt==1.11.2
