@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');





h1{
            font-family: 'Playfair Display SC', serif;
            font-size: 50px;
            color: azure;

            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


}

body {      margin:0;
            background-color: whitesmoke;

}

.select-file{
            font-family: 'Syncopate', sans-serif;

            font-size: 20px;
            color: azure;
            margin: 50px;
             background: -webkit-linear-gradient(violet, darkred);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}



#imageUpload{
            border-radius: 100px;
            background: linear-gradient(to top left,purple,darkred);
            color: aliceblue;
            font-family: inherit;
            font-weight: 700;
            border: 0;
            font-size: 15px;
            white-space: nowrap;
            text-align: center;
             padding: 1rem 1.5rem;
}





h3{
            font-family: 'Syncopate', sans-serif;

            font-size: 10px;
            color: azure;
            margin: 50px;
             background: -webkit-linear-gradient(violet, blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}


.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

/*input[type="file"] {*/
/*    display: none;*/
/*}*/

/*.upload-label{*/
/*    display: inline-block;*/
/*    padding: 12px 30px;*/
/*    background: #39D2B4;*/
/*    color: #fff;*/
/*    font-size: 1em;*/
/*    transition: all .4s;*/
/*    cursor: pointer;*/
/*}*/

/*.upload-label:hover{*/
/*    background: #34495E;*/
/*    color: #39D2B4;*/
/*}*/

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}






#teety{
    margin-left: 50px;
}

#btn-predict{
    background-color: dodgerblue;
    size: 250px;
    color: white;
    border-radius: 20px;
    border-color: dodgerblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;


}

.lang-button{
    margin-top: 10px;

    margin-left: 1000px;

}

.semantic-test1{
    margin-left: 50px;
}

.search-input-field{
    margin-left: 500px;

}
