<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="expires" content="0">
      <title>Nonvenomous Snake Recognition</title>
      <link rel="stylesheet" href="static/main.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
      <link rel="stylesheet" href="static/main.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body>

  <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/content">Info</a></li>
   <li><a href="#contact">Contact</a></li>
   <li style="float:right"><a class="active" href="#about">About</a></li>
  </ul>

    <div >

        <center> <h1 class="container"> Snake recognition</h1></center>
        <center><h2>Select a file to upload</h2></center>






        <form  id="upload-file" action="" method="post" enctype="multipart/form-data" >

{#            <center>Select Image to Uplaod:  <input type="file" name="fileupload" id = "fileToUpload"></center>#}
            <h2>Select Image to Upload: </h2>
            <br><center><input type = "file" value="Upload image" id="imageUpload" name ="image" accept=".png, .jpg, .jpeg"></center>
        </form>



{% extends "viper.html" %} {% block content %}

<h2>Image Classifier</h2>
        <div>
<!--    <form id="upload-file" method="post" enctype="multipart/form-data">-->
<!--        <label for="imageUpload" class="upload-label">-->
<!--            Choose...-->
<!--        </label>-->
<!--{#        <center><input type="file" name="image" id="imageUpload" accept=".png, .jpg, .jpeg"></center>#}-->
<!--    </form>-->

    <div class="image-section" style="display:none;">
       <center><div class="img-preview">
            <div id="imagePreview">
            </div>
        </div></center>
        <div>
           <center><button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button></center>
        </div>
    </div>

    <center><div class="loader" style="display:none;"></div></center>

    <center><p id="result"></p>
    <span id="mess"></span>
    </center>


    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal"  id="button-modal">
  อาการและการปฐมพยาบาลเบื้องต้น
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">อาการและการปฐมพยาบาลเบื้องต้นของงูทุกชนิด</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</div>


    </div>


  </body>

{% endblock %}


